In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
ds=pd.read_csv("/content/mail_data.csv")

In [4]:
ds.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
ds.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [7]:
ds.isnull().sum() #that shows no null value in data set

Category    0
Message     0
dtype: int64

In [13]:
#LABEL ENCODING for category column

In [8]:
ds["Category"].unique()

array(['ham', 'spam'], dtype=object)

In [9]:
ds.loc[ds["Category"]=="spam","Category",]=0
ds.loc[ds["Category"]=="ham","Category",]=1

In [10]:
ds["Category"].dtypes #that is object type we need to change it

dtype('O')

In [12]:
#Seprating category and messages for traing and testing

In [11]:
x=ds["Message"]
y=ds["Category"]

In [12]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [13]:
#changing Categotry column to integer type from object type
Y_train=Y_train.astype("int")
Y_test=Y_test.astype("int")

In [14]:
print(X_train.shape)
print(X_test.shape)
#if we add both we will get 5572 that shows our training and testing divided properly

(4457,)
(1115,)

In [15]:
#Feature extraction
fe=TfidfVectorizer(min_df=1,stop_words="english",lowercase="True")

In [16]:
X_train_fea=fe.fit_transform(X_train)
X_test_fea=fe.transform(X_test)

In [17]:
#Logistic regression
lr=LogisticRegression()

In [18]:
lr.fit(X_train_fea,Y_train)

LogisticRegression()

In [ ]:
# Evaluating lr model

In [19]:
predict_train_data=lr.predict(X_train_fea)
accuracy_train_data=accuracy_score(Y_train,predict_train_data)

In [20]:
predict_test_data=lr.predict(X_test_fea)
accuracy_test_data=accuracy_score(Y_test,predict_test_data)

In [21]:
#comparing test and traing to avoid under or over fitting
print("Accuracy on traing data : ",accuracy_train_data)
print("Accuracy on traing data : ",accuracy_test_data)

Accuracy on traing data :  0.9670181736594121
Accuracy on traing data :  0.9659192825112107

In [26]:
mail=["I HAVE A DATE ON SUNDAY WITH WILL!!"]
mail_data_fea=fe.transform(mail)

#prediction
prediction=lr.predict(mail_data_fea)
print(prediction)

[1]

In [43]:
# as in above model predicted 1 that means it is ham (not a spam)